@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Products";
}

<a asp-action="Create" asp-controller="Product">Create Product</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Slug</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Brand.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Slug</td>
                <td>@item.Price</td>
                <td><img src="~/media/products/@item.Image" width="120px" /></td>

                <td>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id"
                        class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id"
                        class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>